logs/
cert/
.vs/
*.log
*.so
*.node
*cfg.json 
node_modules/
psub/node_modules/
npm-debug.log*
typings.json 
pids/
release/
*.pid
*.seed
lib-cov/ 
coverage/ 
*.nyc_output 
*.grunt 
*.lock-wscript 
build/Release/ 
jspm_packages/
typings/ 
*.npm 
*.node_repl_history
__pycache__/ 
venv/
package-lock.json
